@use "src/styles/abstracts" as *;

.inbox {
  @include margin-x(auto);
  width: 100%;
  max-width: 800px;
  height: fit-content;
  min-height: 80vh;
  @include flexcol(initial, center);
  background-color: $dark-gray;
  padding: 1em;

  &__header {
    @include padding-y(0.5em);
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $dark-gray;
    width: 100%;
  }

  &__title {
    @include font(1.5, bold, $basic-green);
    text-align: center;
  }
}

@include md {
  .inbox {
    display: block;
    gap: 0;
    padding: 0;
    height: 100%;

    &__header {
      display: none;
    }
  }
}
