@use "src/styles/abstracts" as *;

.review {
  @include flexcol(initial, initial, 1em);
  margin: auto;
  margin-top: 2em;
  width: 100%;
  max-width: 1200px;
  height: 100%;

  &__container {
    @include flexrow(initial, stretch, 1em);
    padding: 1em;
    padding-bottom: 1em;
    height: fit-content;
  }

  &__content {
    @include flexcol(space-between);
    flex-basis: 70%;
    overflow: auto;
  }

  &__section {
    @include flexcol($gap: 1em);
    width: 100%;
    height: 100%;
    height: 100%;
    max-height: 350px;
  }

  &__header {
    @include flexrow(initial, center, 0.5em);
  }

  &__profile {
    border-radius: 100%;
    width: 75px;
    height: 75px;
    object-fit: cover;
  }

  &__details {
    @include flexcol();
    width: 100%;
  }

  &__title {
    @include flexrow(space-between, center);
  }

  &__user {
    @include font(0.75, normal, $basic-gray);
    padding-bottom: 0.25em;
  }
  
  &__username {
    @include font(initial, bold, $basic-white);

    &:hover {
      color: $basic-gray;
    }
  }

  &__date {
    @include font(0.5, normal, $basic-gray);

    &--mobile {
      display: none;
    }
  }

  &__text {
    @include font(0.75);
    @include gradient(top);
    padding: 0.5em;
    overflow: auto;
    text-wrap: break-word;
  }
}

@include md {
  .review {
    margin: 0;
    gap: 0;

    &__container {
      flex-direction: column;
      gap: 0.5em;
      border-bottom: 1px solid $basic-gray;
      padding: 0;
    }

    &__content {
      gap: 1em;
      padding: 0 1em 1em 1em;
    }

    &__section {
      max-height: unset;
    }

    &__profile {
      width: 50px;
      height: 50px;
    }

    &__title {
      flex-direction: column;
      align-items: flex-start;
    }

    &__user {
      font-size: 1rem;
    }

    &__date {
      display: none;
      font-size: 1rem;

      &--mobile {
        display: unset;
      }
    }

    &__text {
      mask-image: none;
      padding: 0.5em 0.25em;
      font-size: 1.25rem;
    }

    & svg {
      font-size: 1.5rem;
    }
  }
}
