@use "src/styles/abstracts" as *;

.user-form {
  &__content {
    gap: 2em;
  }

  &__profile {
    @include flexcol(center, center, 1em);
  }

  &__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  &__info {
    @include flexcol($gap: 1em);
  }

  &__inputs {
    @include flexcol($gap: 0.25em);
  }

  &__label {
    @include flexrow(space-between, center);
  }

  &__name {
    text-transform: capitalize;
  }
}

@include md {
  .user-form {
    &__spotify {
      display: none !important;
    }
  }
}
